.ContentFlow .flow .item canvas.content{
    height:100%;
    width:100%
}

.ContentFlow .flow{
    position:relative;
    width:100%;
    margin-top: -175px;
}

.ContentFlow .flow .item{
    position:absolute;
}





 
